<launch>
  <group ns="uav1">
    <rosparam command="load" file="$(find pci)/config/uav1.yaml" />
    <rosparam command="load" file="$(find planner)/config/uav1.yaml" />
    <node pkg="pci" type="pci_node" name="uav1" output="screen" />
    <node pkg="planner" type="planner_node" name="uav1_pl" output="screen" />
  </group>
  <group ns="uav2">
    <rosparam command="load" file="$(find pci)/config/uav2.yaml" />
    <rosparam command="load" file="$(find planner)/config/uav2.yaml" />
    <node pkg="pci" type="pci_node" name="uav2" output="screen" />
    <node pkg="planner" type="planner_node" name="uav1_pl" output="screen" />
  </group>
</launch>