<launch>
  <group ns="uav0">
    <rosparam command="load" file="$(find pci)/config/uav0.yaml" />
    <rosparam command="load" file="$(find planner)/config/uav0.yaml" />
    <node pkg="pci" type="pci_node" name="uav1" output="screen" />
    <node pkg="planner" type="planner_node" name="uav1_pl" output="screen" />
  </group>
  <group ns="uav1">
    <rosparam command="load" file="$(find pci)/config/uav1.yaml" />
    <rosparam command="load" file="$(find planner)/config/uav1.yaml" />
    <node pkg="pci" type="pci_node" name="uav2" output="screen" />
    <node pkg="planner" type="planner_node" name="uav1_pl" output="screen" />
  </group>
  <group ns="uav2">
    <rosparam command="load" file="$(find pci)/config/uav2.yaml" />
    <rosparam command="load" file="$(find planner)/config/uav2.yaml" />
    <node pkg="pci" type="pci_node" name="uav2" output="screen" />
    <node pkg="planner" type="planner_node" name="uav1_pl" output="screen" />
  </group>
  <group ns="uav3">
    <rosparam command="load" file="$(find pci)/config/uav3.yaml" />
    <rosparam command="load" file="$(find planner)/config/uav3.yaml" />
    <node pkg="pci" type="pci_node" name="uav2" output="screen" />
    <node pkg="planner" type="planner_node" name="uav1_pl" output="screen" />
  </group>
  <group ns="uav4">
    <rosparam command="load" file="$(find pci)/config/uav4.yaml" />
    <rosparam command="load" file="$(find planner)/config/uav4.yaml" />
    <node pkg="pci" type="pci_node" name="uav2" output="screen" />
    <node pkg="planner" type="planner_node" name="uav1_pl" output="screen" />
  </group>
</launch>
